<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Food Entry:</h5>
          <p>
            <strong>ID</strong>: {{entry.id}}</p>
          <p>
          <p>
            <strong>Food</strong>: {{entry.food}}</p>
          <p>
            <strong>Calories</strong>: {{entry.calories}}</p>
          <p>
            <strong>Date</strong>: {{moment entry.date "dddd, MMM DD, YYYY"}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
